{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Campodocumento creation</h1>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="bottoniera">
        <a class="btn btn-default" href="{{ path('campodocumento') }}">
            Torna indietro
        </a>
</div>
{% endblock %}
