{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Categoria creation</h1>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

<button type="button" class="btn btn-default"><a href="{{ path('categoria') }}">
            <span class="glyphicon glyphicon-chevron-left"></span> Ritorna alla lista categorie
        </a></button>
    
    </li>
</ul>
{% endblock %}
