{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Creazione di una nuova categoria</h1>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="bottoniera">
<a class="btn btn-default" href="{{ path('categoria') }}">
            <span class="glyphicon glyphicon-chevron-left"></span> Ritorna alla lista categorie
        </a>
    </div>
{% endblock %}
