{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Azienda edit</h1>

    {{ form(edit_form) }}
    {{ form(delete_form) }}

    <div class="bottoniera">
<a class="btn btn-default" href="{{ path('azienda') }}">
            <span class="glyphicon glyphicon-chevron-left"></span> Ritorna alla lista Azienda
        </a>
    </div>

{% endblock %}
