{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Utente creation</h1>

    {{ form(form) }}
{#{% dump(campi) %}#}
    <ul class="record_actions">
        <li>
            <a href="{{ path('utente') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}