{% extends '::base.html.twig' %}

    {% block javascripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#homepageSelectBtnCategoria').prop('disabled',true);
        $('#homepageMostraTutte').prop('disabled',true);
        $('#homepageSelectCategoria').val('defaultDisabledNavbarOption');
    });
</script>
{{parent()}}
{% endblock %}

{% block body -%}
    <h1>Modifica gruppo utente</h1>

    {{ form(edit_form) }}

<div class="bottoniera">
        <a class="btn btn-default" href="{{ path('gruppoutente') }}">
            Indietro alla lista
        </a>

    <!--<li>{{ form(delete_form) }}</li> -->
    </div>
{% endblock %}
