{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Creazione di un nuovo Gruppo Utente</h1>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('gruppoutente') }}">
            Indietro alla Lista
        </a>
    </li>
</ul>
{% endblock %}
