<thead>
<tr class="active">
    <th>Data</th>
    <th>Da Stato Gestav</th>
    <th>A Stato Gestav</th>
    <th>Motivazione</th>
</tr>
</thead>

<tbody>

<!-- TODO Ciclo che stampa tutto l'iter in base ad un idRichiesta -->
{% for entity in entities %}
<tr>

    <td>GETDATA NON FUNZIONA</td>
    <td>{{ entity.dastatogestav }}</td>
    <td>{{ entity.astatogestav }}</td>
    <td>{{ entity.motivazione }}</td>
</tr>
{% endfor %}
</tbody>