{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Richiesta creation</h1>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

   <button type="button" class="btn btn-default"><a href="{{ path('richiesta') }}">
            <span class="glyphicon glyphicon-chevron-left"></span> Ritorna alle richieste
        </a></button>

{% endblock %}
