{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Richiesta creation</h1>
    <div class="bottoniera">

        <div class="bottoni">{{ form(back_form) }}</div>

       </div>
    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="bottoniera">
<a class="btn btn-default" href="{{ path('richiesta') }}">
            <span class="glyphicon glyphicon-chevron-left"></span> Ritorna alle richieste
        </a>
    </div>
{% endblock %}
