{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Richiestautente edit</h1>

    {{ form(edit_form) }}

<div class="bottoniera">
        <a class="btn btn-default" href="{{ path('richiestautente') }}">
            Torna indietro
        </a>

    <!-- <li>{{ form(delete_form) }}</li> -->
</div>
{% endblock %}
