{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Modifica dati di testata del documento</h1>

    {{ form(edit_form) }}

<div class="bottoniera">
        <a class="btn btn-default" href="{{ path('documento') }}">
            Indietro alla lista
        </a>

    <!-- <li>{{ form(delete_form) }}</li> -->
    </div>
{% endblock %}
