{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Creazione di un nuovo documento</h1>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <ul class="record_actions">
            <div class="bottoniera">
        <a class="btn btn-default" href="{{ path('documento') }}">
            Indietro alla Lista
        </a>
                </div>
</ul>
{% endblock %}
