{% extends '::base.html.twig' %}

{% block javascripts %}

    <script type="text/javascript">
        $.ajax({
            type: "GET",
            async: false,
            url: Routing.generate('navbarSelectedSessionClear'),
            /*success: function(data)
             {
             var myjson = $.parseJSON(data);
             alert(" ecco: "+myjson.homepageSelectCategoria);
             }*/
        });
    </script>

    {{parent()}}

    <script type="text/javascript" src="{{ asset('js/homepage.js') }}"></script>

{% endblock %}

{% block body -%}
    <p>Benvenuto sul portale delle Richieste d'Acquisto.</p>
    <p>Seleziona una Categoria per cominciare.</p>
{% endblock %}