html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
}

body{

}

.left_block {
	display: block;
	float: left; 
}

.right_block {
	display: block;
	float: right; 
}

.h4 {
	 font-weight: bold;
}

.navbar-brand {
	float: none;
}

.navbar-center
{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
	height:100%;
}