html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.content_logo{
overflow: hidden;
}

.header-logo{
	margin-left:15px;
	margin-bottom:20px;
	float: left;
}
.header-azienda{
	margin-left:5px;
	margin-bottom:10px;
	padding-top: 15px;
	float: left;
}

.container{
	padding-bottom:20px;
}

#form_submit_delete{
	background-color: #a94442;
	border-color: #a94442;

}

.btn-primary{
	margin-right:10px;
}

.left_block {
	display: block;
	float: left;
}

.right_block {
	display: block;
	float: right;
}

.h4 {
	font-weight: bold;
}

.panel {
	border-radius: 0px !important;
}

.navbar-brand {
	float: none;
}

.navbar-center
{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
	height:100%;
}

.bottoni{

	float:left;
}

.bottoniera{
	float:right;
}
.bottonieratop{
	/*padding-top: 15px;*/
	margin-top: 15px;

}

.panel-heading h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal;
	width: 75%;
	padding-top: 8px;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    z-index: 1050;
}
.modal-sm {
    max-width: 300px;
}
.modal-lg {
    max-width: 900px;
}
@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 900px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}

.table td.fit,
.table th.fit {
	white-space: nowrap;
	width: 1%;
}