html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
}
body { padding-top: 70px; }


.left_block {
	display: block;
	float: left; 
}

.right_block {
	display: block;
	float: right; 
}

.h4 {
	 font-weight: bold;
}