{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Modifica dei Permessi</h1>

    {{ form(edit_form) }}

<div class="bottoniera">
        <a class="btn btn-default" href="{{ path('categoriagruppo') }}">
            Indietro alla Lista
        </a>
    <!-- <li>{{ form(delete_form) }}</li> -->
</div>
{% endblock %}
