{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Categoriagruppo creation</h1>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}), {'attr': {'novalidate': 'novalidate'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('categoriagruppo') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
