{% extends '::base.html.twig' %}

<script type="text/javascript">
    $(document).ready(function(){
        $('#homepageSelectBtnCategoria').prop('disabled',true);
        $('#homepageMostraTutte').prop('disabled',true);
        $('#homepageSelectCategoria').val('defaultDisabledNavbarOption');
    });
</script>
{{parent()}}
{% endblock %}

{% block body -%}
    <h1>Creazione di un nuovo permesso</h1>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <ul class="record_actions">
            <div class="bottoniera">

        <a class="btn btn-default" href="{{ path('categoriagruppo') }}">
            Indietro alla lista
        </a>

                </div>
</ul>
{% endblock %}
