{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Categoria edit</h1>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="bottoniera">
            <a class="btn btn-default" href="{{ path('documento_byCategoria', { 'idRichiesta': idRichiesta,'idCategoria': idCategoria }) }}">
                Torna indietro
            </a>
    </div>
{% endblock %}
