{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Modifica di un documento associato alla richiesta</h1>

    {{ form(save_form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form(back_form, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}
