{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Categoria edit</h1>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('documento_byCategoria', { 'idRichiesta': idRichiesta,'idCategoria': idCategoria }) }}">
                Back to the list
            </a>
        </li>

    </ul>
{% endblock %}
