{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Imposta Padre</h1>
    {% if form is defined %}
        {{ form(form) }}
    {% endif %}

        <ul class="record_actions">
    <li>
        {{ form(backForm) }}
    </li>
</ul>
{% endblock %}
